:root{
    --bodycolor:#ffffff;
    --fontcolor:#000000;
    --footercolor: rgb(82, 76, 76);
    --operateborder: rgb(197, 95, 11);
    --operateborderhover: rgb(243, 37, 10);
    --linkcolor: rgb(64, 64, 180);
}

@media (min-width: 431px)
{
    img{
        width: 120px;
        height: 120px;
    }

    .hbar
    {
    display: none;
    width: 133px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #cf2f07;
    transition: width 2s;
    }

    .moves{
        display: inline-block;
        background-color: #ffffff;
        border-radius: 7px;
        border: 1px solid rgb(0, 0, 0);
        width: 10em;
        height: 2.5em;
        margin-top: 2px;
        font-family: monospace;
    }
    
    .moves:hover{
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid black;
        width: 9.5em;
        height: 2.5em;
        margin-top: 2px;
        cursor: pointer;
        font-family: monospace;
    }

    #player1{
        width: 140px;
    }

    #player2{
        width: 140px;
    }
}


@media (max-width: 430px)
{
    img{
        width: 88px;
        height: 88px;
    }

    .hbar
    {
    display: none;
    width: 96px;
    height: 9px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #cf2f07;
    transition: width 2s;
    }
    
    .moves{
        display: inline-block;
        background-color: #ffffff;
        border-radius: 7px;
        border: 1px solid rgb(0, 0, 0);
        width: 8em;
        height: 2.5em;
        margin-top: 2px;
        font-family: monospace;
        font-size: small;
    }
    
    .moves:hover{
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid black;
        width: 7.5em;
        height: 2.5em;
        margin-top: 2px;
        cursor: pointer;
        font-family: monospace;
        font-size: small;
    }

    #player1{
        width: 103px;
    }

    #player2{
        width: 103px;
    }
}

@media (max-width: 500px)
{
    #infodiv{
        font-size: 0.9em;
    }
}

body{
    background-color: var(--bodycolor);
    color: var(--fontcolor);
    transition: all 500ms ease-out;
}

.navbutton{
    width: 30px;
    height: 30px;
    font-size: x-large;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    background: none;
    cursor: pointer;
    border: none;
    color: var(--fontcolor);
}

#daynightswitch{
    width: 20px;
    height: 20px;
}

a{
    color: var(--linkcolor);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

#infodiv{
    z-index: 1;
    background-color: var(--bodycolor);
    width: 70vw;
    border-radius: 10px;
    border: 2px solid var(--fontcolor);
    margin: auto;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#infodiv div{
    border-top: 1px solid var(--fontcolor);
    margin-bottom: 5%;
}

#overlay{
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    padding-top: 10vh;
}

h1{
    display: inline-block;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


h2{
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.onboard{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: medium;
}

#player1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 180px;
}

#player2{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 180px;
}


#player1health
{
  display: none;
  width:100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: #ffbf1b;
  transition: width 1s;
}

#player2health
{
    display: none;
    width:100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 8px;;
    background-color: #ffbf1b;
    transition: width 1s;
}

#versus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

#operate{
    display: none;
    background: none;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    font-weight: 800;
    padding: 0.5em 1.2em;
    border: 3px solid var(--operateborder);
    transition: all 0.25s;
    color: var(--fontcolor);
}

#operate:hover
{
    border: 2px solid var(--operateborderhover);
    box-shadow: 0 0.4em 0.5em -0.4em var(--operateborderhover);
    transform: translateY(-0.15em);
    cursor: pointer;
}

#versus ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}


#selected{
    width: 94px;
    height: 94px;
    display: inline-block;
    background-color: #8de6e9;
    border-width: 0.01em;
    border-color: #efefef;
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
}

.pokemons{
    width:96px;
    height: 96px;
    padding: 10px;
    display: inline-block;
    border-width: 0.01em;
    border-color: #efefef;
    border-style: solid;
    box-sizing: border-box;
}

.pokemons:hover{
    width:94px;
    height: 94px;
    padding: 10px;
    display: inline-block;
    border-width: 0.01em;
    border-color: #efefef;
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
}

#deck{
    text-align: center;
}

#foot{
    margin-top: 4rem;
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--footercolor);
}